<html>
  <body>
<form>
 <h2> Prenotazioni</h2>
<h2>Login</h2>
Nickname<input type="text" #nome><br><br>
Password<input type="text" #password><br><br>
<button(click)="log(Input)">Login</button>
<br>
<br>
<br>
<h2>Registrati</h2>
inserisci nome:<input type="text" #nome><br><br>
inserisci cognome:<input type="text" #cognome><br><br>
inserisci nickname:<input type="text" #nickname><br><br>
inserisci email:<input type="text" #email><br><br>
inserisci password:<input type="text" #password><br><br>
inserisci telefono:<input type="text" #telefono><br><br>
<button(click)="reg(nome,cognome,nickname,mail,password,telefono)">Registrati</button>
</form>
</body>
</html>
